fastapi
uvicorn[standard]
python-dotenv
weaviate-client
google-generativeai
PyMuPDF
camelot-py[cv]
pandas
tabulate
# --- testing ---
pytest
httpx
# --- RAG ---
langchain-text-splitters
sentence-transformers